<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_packs_with_chunks_tag 'server-bundle', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'server-bundle', defer: true %>
    <%# stylesheet_packs_with_chunks_tag 'core-app', media: 'all' %>
    <%# javascript_packs_with_chunks_tag 'core-app', defer: true %>
    <%# stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= redux_store_hydration_data %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  </body>
</html>
